/* !!!!! Global !!!!! */

body {
	background-image: url("./images/background.jpg");
	background-position: top, center;
	color: aquamarine;
	margin: 0 1.5rem;
	width: auto;
	height: auto;
}

.border-aquamarine {
	border-color: aquamarine;
}

.font-corinthia {
	font-family: 'Corinthia';
}

.profile-img {
	width: 4rem;
	height: 4rem;
}


/* !!!!! Header Section !!!!! */


/* !!!!! Main Section !!!!! */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.content {
	min-width: 32rem;
}

.content-block-amenities,
.content-block-testimonial {
	max-width: 29rem;
}

/* !!!!! Footer Section !!!!! */

